[submodule "slp"]
	path = slp
	url = https://github.com/aaronbloomfield/slp.git
[submodule "dada"]
	path = dada
	url = https://github.com/aaronbloomfield/dada.git
[submodule "hspc"]
	path = hspc
	url = https://github.com/aaronbloomfield/hspc.git
[submodule "pdr"]
	path = pdr
	url = https://github.com/uva-cs/pdr
[submodule "ccc"]
	path = ccc
	url = https://github.com/aaronbloomfield/ccc
